@use 'mixins/header-icon' as icon;
@use 'mixins/button.scss' as btn;
@use 'mixins/image.scss' as img;
@use 'color.scss' as color;

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  padding-top: 56px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color.$white;

  .container {
    display: flex;
    align-items: center;
  }

  .search-container {
    width: 40%;

    @media screen and (max-width: 540px) {
      display: none;
    }
  }

  .youtube-logo {
    @include icon.header-icon($width: 100px, $height: auto, $hasHover: false) {
      margin-left: 7px;
    }
  }

  .header-icon {
    @include icon.header-icon($hasHover: true, $radius: 50%) {
      padding: 5px;
    }
  }

  .search-form {
    display: flex;
    border-radius: 40px;
    border: 0.5px solid gray;
    flex: 1;

    &:focus-within {
      border: 1px solid blue;
    }

    .search-input {
      margin: 7px;
      border: none;
      flex: 1;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  .search-button {
    @include btn.button(0 40px 40px 0) {
      border: none;
    }

    .search-image {
      @include icon.header-icon($hasHover: false) {
        padding: 0 5px;
      }
    }
  }

  .small-size {
    display: none;

    @media screen and (max-width: 540px) {
      display: flex;
      align-items: center;
    }
  }

  .avatar {
    @include img.image(25px, 25px, true) {
      margin-left: 7px;
    }
  }
}

.navigation {
  background-color: lighten(color.$lightGray, 30%);
  width: 15%;
  height: 100vh;
  overflow-y: auto;
  padding: 10px;
  display: block;

  @media screen and (max-width: 540px) {
    display: none;
  }

  .menus {
    padding: 6px 12px;
    border-bottom: 0.5px solid gray;
    display: flex;
    flex-direction: column;
  }

  .menus:last-child {
    border-bottom: none;
  }

  .menus-title {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
  }

  .menu {
    .nav-image {
      width: 24px;
      margin: 5px 10px;
    }

    .profile-image {
      @include img.image(30px, 30px, true) {
        margin: 5px 10px;
      }
    }

    @include btn.button(10px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 3px 0;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .footer {
    padding: 20px 10px;
    color: color.$gray;
    font-size: 12px;
  }
}
