body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  padding-top: 56px;
  padding-left: 17%;
}
@media screen and (max-width: 540px) {
  body {
    padding-left: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .search-container {
  width: 40%;
}
@media screen and (max-width: 540px) {
  .header .search-container {
    display: none;
  }
}
.header .youtube-logo {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin-left: 7px;
}
.header .header-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 5px;
}
.header .header-icon:hover {
  background-color: #e6e6e6;
  border-radius: 50%;
}
.header .search-form {
  display: flex;
  border-radius: 40px;
  border: 0.5px solid gray;
  flex: 1;
}
.header .search-form:focus-within {
  border: 1px solid blue;
}
.header .search-form .search-input {
  margin: 7px;
  border: none;
  flex: 1;
  font-size: 1rem;
}
.header .search-form .search-input:focus {
  outline: none;
}
.header .search-button {
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 0 40px 40px 0;
  border: none;
}
.header .search-button:hover {
  background-color: #e6e6e6;
}
.header .search-button .search-image {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 0 5px;
}
.header .voice-search-button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.header .voice-search-button:hover {
  background-color: #e6e6e6;
  border-radius: 50%;
}
.header .small-size {
  display: none;
}
@media screen and (max-width: 540px) {
  .header .small-size {
    display: flex;
    align-items: center;
  }
}
.header .avatar {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 7px;
  border-radius: 50%;
}

.main {
  display: flex;
}

.navigation {
  background-color: white;
  width: 15%;
  height: calc(100vh - 56px);
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  left: 0;
}
@media screen and (max-width: 540px) {
  .navigation {
    display: none;
  }
}
.navigation .menus {
  padding: 6px 12px;
  border-bottom: 0.5px solid gray;
  display: flex;
  flex-direction: column;
}
.navigation .menus:last-child {
  border-bottom: none;
}
.navigation .menus-title {
  font-size: 17px;
  padding: 5px 10px 5px 10px;
}
.navigation .menu {
  width: auto;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 3px 0;
}
.navigation .menu .nav-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.navigation .menu:hover {
  background-color: #e6e6e6;
  border-radius: 10px;
}
.navigation .menu .nav-image {
  width: 24px;
  margin: 5px 10px;
}
.navigation .menu .profile-image {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 50%;
}
.navigation .footer {
  padding: 20px 10px;
  color: gray;
  font-size: 12px;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  padding: 5px;
  background-color: white;
  margin: 0;
  width: 84%;
}
.main-content .tags .tag {
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  padding: 5px 12px;
  margin: 5px 5px;
  background-color: #ededed;
}
.main-content .tags .tag:hover {
  background-color: #d3d3d3;
}
.main-content .video-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}
.main-content .video {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 120px;
  flex: 1 1 270px;
  padding: 5px 16px 30px 16px;
}
.main-content .video:hover .content .icon {
  visibility: visible;
}
.main-content .video .thumbnail-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 20px;
}
.main-content .video .profile-image {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 50%;
}
.main-content .video .asset {
  margin-bottom: 10px;
}
.main-content .video .running-time {
  background-color: black;
  font-size: 12px;
  padding: 3px;
  color: white;
  border-radius: 5px;
}
.main-content .video .content {
  display: flex;
  align-items: flex-start;
}
.main-content .video .content .icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  visibility: hidden;
  align-self: flex-start;
}
.main-content .video .description {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.main-content .video .title {
  font-weight: 500;
  margin-bottom: 6px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main-content .video .channel-name {
  color: gray;
  font-size: 12px;
}
.main-content .video .viewcount-publishdate {
  color: gray;
  font-size: 12px;
}
.main-content .video .viewcount-publishdate {
  display: flex;
}
.main-content .video .divide-dot {
  padding: 0 6px 0 6px;
}

/*# sourceMappingURL=main.css.map */
