@use 'mixins/icon.scss' as icon;
@use 'mixins/image.scss' as img;
@use 'mixins/text-ellipsis.scss' as text;
@use 'color.scss' as color;
@use 'size.scss' as size;

body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  padding-top: size.$header;
  padding-left: size.$sidebar;

  @media screen and (max-width: size.$reponsive-point) {
    padding-left: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: size.$header;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color.$white;

  .container {
    display: flex;
    align-items: center;
  }

  .search-container {
    width: 40%;

    @media screen and (max-width: size.$reponsive-point) {
      display: none;
    }
  }

  .youtube-logo {
    @include icon.icon($width: 100px, $height: auto, $hasHover: false) {
      margin-left: 7px;
    }
  }

  .header-icon {
    @include icon.icon($hasHover: true, $hover-radius: 50%) {
      padding: 5px;
    }
  }

  .search-form {
    display: flex;
    border-radius: 40px;
    border: 0.5px solid gray;
    flex: 1;

    &:focus-within {
      border: 1px solid blue;
    }

    .search-input {
      margin: 7px;
      border: none;
      flex: 1;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  .search-button {
    @include icon.icon(auto, auto, true) {
      border-radius: 0 40px 40px 0;
      border: none;
    }

    .search-image {
      @include icon.icon($hasHover: false) {
        padding: 0 5px;
      }
    }
  }

  .voice-search-button {
    @include icon.icon($hasHover: true, $hover-radius: 50%) {
      padding: 5px;
      margin-left: 10px;
      background-color: lighten(black, 95%);
      border-radius: 50%;
    }
  }

  .small-size {
    display: none;

    @media screen and (max-width: size.$reponsive-point) {
      display: flex;
      align-items: center;
    }
  }

  .avatar {
    @include img.image(25px, 25px, true) {
      margin-left: 7px;
    }
  }
}

.main {
  display: flex;
}

.navigation {
  background-color: lighten(color.$lightGray, 30%);
  width: 15%;
  height: calc(100vh - size.$header);
  overflow-y: auto;
  padding: 10px;
  position: fixed;
  left: 0;

  @media screen and (max-width: size.$reponsive-point) {
    display: none;
  }

  .menus {
    padding: 6px 12px;
    border-bottom: 0.5px solid gray;
    display: flex;
    flex-direction: column;
  }

  .menus:last-child {
    border-bottom: none;
  }

  .menus-title {
    font-size: 17px;
    padding: 5px 10px 5px 10px;
  }

  .menu {
    @include icon.icon(auto, auto, true, $hover-radius: 10px) {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 3px 0;

      .nav-title {
        @include text.ellipsis();
      }
    }

    .nav-image {
      width: 24px;
      margin: 5px 10px;
    }

    .profile-image {
      @include img.image(35px, 35px, true) {
        margin: 5px 10px;
      }
    }
  }

  .footer {
    padding: 20px 10px;
    color: color.$gray;
    font-size: 12px;
  }
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    padding: 5px;
    background-color: color.$white;
    margin: 0;
    width: 84%;

    .tag {
      @include icon.icon(auto, auto, true, $hover-background-color: color.$lightGray) {
        font-size: 14px;
        list-style: none;
        border-radius: 6px;
        padding: 5px 12px;
        margin: 5px 5px;
        background-color: lighten(color.$lightGray, 10%);
      }
    }
  }

  .video-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: size.$tags;
  }

  .video {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-width: 120px;
    flex: 1 1 270px;
    padding: 5px 16px 30px 16px;

    &:hover {
      .content .icon {
        visibility: visible;
      }
    }

    .thumbnail-image {
      @include img.image(100%, auto, false) {
        border-radius: 20px;
      }
    }

    .profile-image {
      @include img.image(40px, 40px, true) {
        margin-right: 8px;
      }
    }

    .asset {
      // position: relative;
      margin-bottom: 10px;
    }

    .running-time {
      // position: absolute;
      // right: 12px;
      // bottom: 10px;
      background-color: black;
      font-size: 12px;
      padding: 3px;
      color: white;
      border-radius: 5px;
    }

    .content {
      display: flex;
      align-items: flex-start;

      .icon {
        @include icon.icon($hasHover: false) {
          visibility: hidden;
          align-self: flex-start;
        }
      }
    }

    .description {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 15px;
    }

    .title {
      font-weight: 500;
      margin-bottom: 6px;
      @include text.ellipsis(2);
    }

    .channel-name {
      color: color.$gray;
      font-size: 12px;
    }

    .viewcount-publishdate {
      color: color.$gray;
      font-size: 12px;
    }

    .viewcount-publishdate {
      display: flex;
    }

    .divide-dot {
      padding: 0 6px 0 6px;
    }
  }
}
