@mixin header-icon($width: 1.5rem, $height: 1.5rem, $hasHover: true, $radius: null) {
  width: $width;
  height: $height;
  @content;

  @if ($hasHover) {
    &:hover {
      background-color: lighten(black, 90%);
      border-radius: $radius;
    }
  }
}
