@mixin icon(
  $width: 1.5rem,
  $height: 1.5rem,
  $hasHover: true,
  $hover-radius: null,
  $hover-background-color: lighten(black, 90%)
) {
  width: $width;
  height: $height;
  cursor: pointer;
  @content;

  @if ($hasHover) {
    &:hover {
      background-color: $hover-background-color;
      border-radius: $hover-radius;
    }
  }
}
